#jinja2: lstrip_blocks: "True (or False)", trim_blocks: "True (or False)"
---

blocks:
- type: header
  text:
    type: plain_text
    text: ":robot_face: Juniper ChatBot"

- type: divider

- type: section
  text:
    type: mrkdwn
    text: |-
      :round_pushpin: Security Flow Report

- type: divider

- type: section
  text:
    type: mrkdwn
    text: |-
      Firewall: vsrx4

        LAN:
        {% for each in flows_lan %}
        :white_small_square: *{{ each.interface }}*: {{ each.flows }}
        {% endfor %}

        WAN:
        {% for each in flows_wan %}
        :white_small_square: *{{ each.interface }}*: {{ each.flows }}
        {% endfor %}

        DMZ:
        {% for each in flows_dmz %}
        :white_small_square: *{{ each.interface }}*: {{ each.flows }}
        {% endfor %}

  accessory:
    type: image
    image_url: https://raw.githubusercontent.com/cdot65/svg-locker-shhhhh/master/firewalls.png
    alt_text: Firewall
